<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Dominik Symonowicz">
    <title>Dom's dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/scripts.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/fasting.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/copyright.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/grettings.js') }}"></script>
</head>
<body>
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2" href="{{message.page_gateway}}">Gateway</a>
        <a class="p-2" href="{{message.page_ricky}}">Rickmansworth</a>
        <a class="p-2" href="{{message.page_frame}}">Random picture</a>
        <a class="p-2" href="{{message.page_webcam}}">Do picture</a>
    </nav>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">INFORMATION</h4>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="text-left">
                            <script type="text/javascript">displayGreetings();</script>
                            It is a
                            <script>displayIntermittentFastingInfo();</script>
                            .<br/>
                        </li>
                        <li><strong class="d-inline-block text-success">Server(LP)</strong></li>
                        <li class="small"><b>CPU Speed:</b>{{message.system.server["CPU Speed"]}}</li>
                        <li class="small"><b>Memory Available:</b>{{message.system.server["Memory Available"]}}</li>
                        <li class="small"><b>Disk Free:</b>{{message.system.server["Disk Free"]}}</li>
                        <li class="small"><b>Uptime:</b>{{message.system.server["Uptime"]}}</li>
                        <li>_</li>
                        <li><strong class="d-inline-block mb-2 text-success">Denva(Pi4)</strong></li>
                        <li class="small"><b>CPU Speed : </b>{{message.system.denva["CPU Speed"]}}</li>
                        <li class="small"><b>CPU Temp : </b>{{message.system.denva["CPU Temp"]}}</li>
                        <li class="small"><b>Memory Available : </b>{{message.system.denva["Memory Available"]}}</li>
                        <li class="small"><b>Free Space : </b>{{message.system.denva["Free Space"]}}</li>
                        <li class="small"><b>Data Free Space : </b>{{message.system.denva["Data Free Space"]}}</li>
                        <li class="small"><b>Uptime : </b>{{message.system.denva["Uptime"]}}</li>
                        <li>_</li>
                        <li><strong class="d-inline-block mb-2 text-success">Enviro(Pi3)</strong></li>
                        <li class="small"><b>CPU Speed : </b>{{message.system.enviro["CPU Speed"]}}</li>
                        <li class="small"><b>CPU Temp : </b>{{message.system.enviro["CPU Temp"]}}</li>
                        <li class="small"><b>RAM Available : </b>{{message.system.enviro["Memory Available"]}}</li>
                        <li class="small"><b>Free Space : </b>{{message.system.enviro["Free Space"]}}</li>
                        <li class="small"><b>Data Free Space : </b>{{message.system.enviro["Data Free Space"]}}</li>
                        <li class="small"><b>Uptime : </b>{{message.system.enviro["Uptime"]}}</li>
                        <li>_</li>
                    </ul>
                </div>
                <hr/>
                <ul class="list-unstyled mt-3 mb-4 small">
                    <li><a href="{{message.page_tube_trains}}">Tube&Trains status</a></li>
                    <li><a href="{{message.page_tt_delays_counter}}">Tube delays counter</a></li>
                    <li><a href="{{message.page_ricky}}">Rickmansworth</a></li>
                </ul>
            </div>
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">REPORTS</h4>
            </div>
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.page_last_report}}">Report for yesterday</a></li>
                    <li>Report for last week</li>
                    <li>Report for last month</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">WARNINGS</h4>
            </div>
            <div class="card-body ">
                <ul class="list-unstyled mt-3 mb-4">
                    {% for denva in message.warnings.denva %}
                    <li class="mb-1 text-warning">{{denva}}</li>
                    {% endfor %}
                    {% for enviro in message.warnings.enviro %}
                    <li class="mb-1 text-warning">{{enviro}}</li>
                    {% endfor %}
                    {% for server in message.warnings.server %}
                    <li class="mb-1 text-danger">{{server}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">LOGS</h4>
            </div>
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.links.logApp.denva}}">Denva App logs</a></li>
                    <li><a href="{{message.links.logHc.denva}}">Denva's Health logs</a></li>
                    <li><a href="{{message.links.logUi.denva}}">Denva's UI logs</a></li>
                    <li><a href="{{message.links.logApp.enviro}}">Enviro App logs</a></li>
                    <li><a href="{{message.links.logHc.enviro}}">Enviro's Health logs</a></li>
                    <li><a href="{{message.links.logUi.enviro}}">Enviro's UI logs</a></li>
                    <li><a href="{{message.links.logApp.server}}">Server's App logs</a></li>
                    <li><a href="{{message.links.logHc.server}}">Server's Health logs</a></li>
                    <li><a href="{{message.links.logUi.server}}">Server's UI logs</a></li>
                </ul>
            </div>
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">LINKS</h4>
            </div>
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Denva</li>
                    <li><a href="{{message.links.warningsAll.denva}}">All Warnings today</a></li>
                    <li><a href="{{message.links.warningsCounter.denva}}">Warnings count</a></li>
                    <hr/>
                    <li>Enviro</li>
                    <li><a href="{{message.links.warningsAll.enviro}}">All Warnings today</a></li>
                    <li><a href="{{message.links.warningsCounter.enviro}}">Warnings count</a></li>

                </ul>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">DENVA</h4>
            </div>
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><strong>timestamp</strong> : {{message.denva.timestamp}}</li>
                    <li><strong>temp</strong> : {{message.denva.temp}}</li>
                    <li><strong>pressure</strong> : {{message.denva.pressure}}</li>
                    <li><strong>humidity</strong> : {{message.denva.humidity}}</li>
                    <li><strong>gas_resistance</strong> : {{message.denva.gas_resistance}}</li>
                    <li><strong>colour</strong> : {{message.denva.colour}}</li>
                    <li><strong>aqi</strong> : {{message.denva.aqi}}</li>
                    <li><strong>uva_index</strong> : {{message.denva.uva_index}}</li>
                    <li><strong>uvb_index</strong> : {{message.denva.uvb_index}}</li>
                    <li><strong>motion</strong> : {{message.denva.motion}}</li>
                    <li><strong>ax</strong> : {{message.denva.ax}}</li>
                    <li><strong>ay</strong> : {{message.denva.ay}}</li>
                    <li><strong>az</strong> : {{message.denva.az}}</li>
                    <li><strong>gx</strong> : {{message.denva.gx}}</li>
                    <li><strong>gy</strong> : {{message.denva.gy}}</li>
                    <li><strong>gz</strong> : {{message.denva.gz}}</li>
                    <li><strong>mx</strong> : {{message.denva.mx}}</li>
                    <li><strong>my</strong> : {{message.denva.my}}</li>
                    <li><strong>mz</strong> : {{message.denva.mz}}</li>
                    <li><strong>cpu_temp</strong> : {{message.denva.cpu_temp}}</li>
                    <li><strong>eco2</strong> : {{message.denva.eco2}}</li>
                    <li><strong>tvoc</strong> : {{message.denva.tvoc}}</li>
                </ul>
            </div>
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">LINKS</h4>
            </div>
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.links.averages.denva}}">Averages</a></li>
                    <li><a href="{{message.links.records.denva}}">Records</a></li>
                    <li><a href="{{message.links.stats.denva}}">Stats</a></li>
                </ul>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">ENVIRO</h4>
            </div>
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><strong>temperature</strong> : {{message.enviro.temperature}}</li>
                    <li><strong>oxidised</strong> : {{message.enviro.oxidised}}</li>
                    <li><strong>reduced</strong> : {{message.enviro.reduced}}</li>
                    <li><strong>nh3</strong> : {{message.enviro.nh3}}</li>
                    <li><strong>pm1</strong> : {{message.enviro.pm1}}</li>
                    <li><strong>pm25</strong> : {{message.enviro.pm25}}</li>
                    <li><strong>pm10</strong> : {{message.enviro.pm10}}</li>
                </ul>
            </div>

            <div class="card-header">
                <h4 class="my-0 font-weight-normal">LINKS</h4>
            </div>
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.links.averages.enviro}}">Averages</a></li>
                    <li><a href="{{message.links.records.enviro}}">Records</a></li>
                    <li><a href="{{message.links.stats.enviro}}">Stats</a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-9 col-md">
                <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">
                    <script>copyright()</script>
                </small>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript">displayTitle();</script>
</body>
</html>