<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Dominik Symonowicz">
    <meta http-equiv="refresh" content="30"/>
    <title>Dom's dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>

    <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script type=text/javascript src="{{url_for('static', filename='scripts.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='fasting.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='copyright.js') }}"></script>
</head>
<body>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">INFORMATIONS</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.page_now}}">Page now</a></li>
                    <li><a href="{{message.page_system}}">System</a></li>
                    <li><a href="{{message.page_avg}}">Averages</a></li>
                    <li><a href="{{message.page_records}}">Records</a></li>
                    <li><a href="{{message.page_stats}}">Stats</a></li>
                </ul>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">WARNINGS</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.page_warns}}">All Warnings today</a></li>
                    <li><a href="{{message.page_warns_now}}">Current warnings</a></li>
                    <li><a href="{{message.page_warns_count}}">Warnings count</a></li>
                </ul>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">REPORTS</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.page_last_report}}">Report for yesterday</a></li>
                    <li>Report for last week</li>
                    <li>Report for last month</li>
                    <li><a href="{{message.page_ricky}}">Ricky report</a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-9 col-md">
                <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">
                    <script>copyright()</script>
                </small>
            </div>
            <div class="col-3 col-md">
                <h5>Logs</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="{{message.page_recent_log_app}}">Recent App logs</a></li>
                    <li><a href="{{message.page_recent_log_hc}}">Healthcheck logs</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>