<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Dominik Symonowicz">
    <title>Dom's dashboard</title>
    <style>
        span.good {
            background-color: #EEEEEE;
            color: #00EE00;
        }

        span.warn {
            background-color: #AAAAAA;
            color: #f7a133;
        }

        span.bad {
            background-color: #CCCCCC;
            color: #CC0000;
        }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script type=text/javascript src="{{url_for('static', filename='scripts.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='fasting.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='copyright.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='grettings.js') }}"></script>
</head>
<body>
<div class="card-deck">
    <script type="text/javascript">
        displayGreetings();
    </script>
</div>
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="{{message.page_gateway}}">Gateway</a>
        <a class="p-2 text-muted" href="{{message.page_warnings}}">Warnings</a>
        <a class="p-2 text-muted" href="#">Denva</a>
        <a class="p-2 text-muted" href="#">Enviro</a>
        <a class="p-2" href="{{message.page_ricky}}">Rickmansworth</a>
        <a class="p-2 text-muted" href="{{message.page_webcam}}">Do picture</a>
     </nav>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">INFORMATIONS</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-2 mb-2">
                    {% for celebration in message.celebrations %}
                    <li>{{celebration}}</li>
                    {% endfor %}
                </ul>
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.page_tube_trains}}">Tube&Trains status</a></li>
                    <li><a href="{{message.page_tt_delays_counter}}">Tube delays counter</a></li>
                    <li><a href="{{message.page_ricky}}">Rickmansworth</a></li>
                </ul>
            </div>
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">REPORTS</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.page_last_report}}">Report for yesterday</a></li>
                    <li>Report for last week</li>
                    <li>Report for last month</li>
                </ul>
            </div>

        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">WARNINGS</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><script>displayIntermittentFastingInfo();</script></li>
                    {% for denva in message.warnings.denva %}
                    <li class="mb-1 text-warning">{{denva}}</li>
                    {% endfor %}
                    {% for enviro in message.warnings.enviro %}
                    <li class="mb-1 text-warning">{{enviro}}</li>
                    {% endfor %}

                </ul>
            </div>

            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.page_warns}}">All Warnings today</a></li>
                    <li><a href="{{message.page_warns_now}}">Current warnings</a></li>
                    <li><a href="{{message.page_warns_count}}">Warnings count</a></li>
                </ul>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">DENVA</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><strong>timestamp</strong> : {{message.denva.timestamp}}</li>
                    <li><strong>temp</strong> : {{message.denva.temp}}</li>
                    <li><strong>pressure</strong> : {{message.denva.pressure}}</li>
                    <li><strong>humidity</strong> : {{message.denva.humidity}}</li>
                    <li><strong>gas_resistance</strong> : {{message.denva.gas_resistance}}</li>
                    <li><strong>colour</strong> : {{message.denva.colour}}</li>
                    <li><strong>aqi</strong> : {{message.denva.aqi}}</li>
                    <li><strong>uva_index</strong> : {{message.denva.uva_index}}</li>
                    <li><strong>uvb_index</strong> : {{message.denva.uvb_index}}</li>
                    <li><strong>motion</strong> : {{message.denva.motion}}</li>
                    <li><strong>ax</strong> : {{message.denva.ax}}</li>
                    <li><strong>ay</strong> : {{message.denva.ay}}</li>
                    <li><strong>az</strong> : {{message.denva.az}}</li>
                    <li><strong>gx</strong> : {{message.denva.gx}}</li>
                    <li><strong>gy</strong> : {{message.denva.gy}}</li>
                    <li><strong>gz</strong> : {{message.denva.gz}}</li>
                    <li><strong>mx</strong> : {{message.denva.mx}}</li>
                    <li><strong>my</strong> : {{message.denva.my}}</li>
                    <li><strong>mz</strong> : {{message.denva.mz}}</li>
                    <li><strong>cpu_temp</strong> : {{message.denva.cpu_temp}}</li>
                    <li><strong>eco2</strong> : {{message.denva.eco2}}</li>
                    <li><strong>tvoc</strong> : {{message.denva.tvoc}}</li>
                </ul>
            </div>
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">links</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.page_system}}">System</a></li>
                    <li><a href="{{message.page_avg}}">Averages</a></li>
                    <li><a href="{{message.page_records}}">Records</a></li>
                    <li><a href="{{message.page_stats}}">Stats</a></li>
                </ul>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">ENVIRO</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                        <li><strong>temperature</strong> : {{message.enviro.temperature}}</li>
                        <li><strong>oxidised</strong> : {{message.enviro.oxidised}}</li>
                        <li><strong>reduced</strong> : {{message.enviro.reduced}}</li>
                        <li><strong>nh3</strong> : {{message.enviro.nh3}}</li>
                        <li><strong>pm1</strong> : {{message.enviro.pm1}}</li>
                        <li><strong>pm25</strong> : {{message.enviro.pm25}}</li>
                        <li><strong>pm10</strong> : {{message.enviro.pm10}}</li>
                </ul>
            </div>

            <div class="card-header">
                <h4 class="my-0 font-weight-normal">links</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><a href="{{message.page_system}}">System</a></li>
                    <li><a href="{{message.page_avg}}">Averages</a></li>
                    <li><a href="{{message.page_records}}">Records</a></li>
                    <li><a href="{{message.page_stats}}">Stats</a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-9 col-md">
                <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">
                    <script>copyright()</script>
                </small>
            </div>
            <div class="col-3 col-md">
                <h5>Logs</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="{{message.page_recent_log_app}}">Denva logs</a></li>
                    <li><a href="{{message.page_recent_log_hc}}">Denva's Healthcheck logs</a></li>
                    <li><a href="{{message.page_recent_log_app}}">Enviro logs</a></li>
                    <li><a href="{{message.page_recent_log_hc}}">Enviro's Healthcheck logs</a></li>
                    <li><a href="{{message.page_recent_log_app}}">Server logs</a></li>
                    <li><a href="{{message.page_recent_log_hc}}">Denva's Healthcheck logs</a></li>

                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>