<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My bookmarks HQ">
    <meta name="author" content="Dominik Symonowicz">
    <meta http-equiv="refresh" content="30"/>
    <title>RULES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>

    <!--  JavaScripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

</head>

<body>

<div class="container">
    <div class="card-deck text-center">
        <div class="card shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">RULES</h4>
            </div>
            <div class="card-body  text-left">
                <ol class="list-group">
                    <li class="text-danger">It is so easy to say 'You will do it tomorrow'. Re-program yourself to say:
                        <b>"Tomorrow is not a viable option. You do it TODAY!"</b>
                    </li>
                    <li class="text-dark">
                        <b>Get things done</b> through discipline. Discipline allows you to get things done. Discipline
                        equals freedom, it sounds counterproductive but you have freedom because of discipline. I have
                        freedom because of the discipline to get things done. This must be obsession, because nothing
                        not beats hard work. You must be insane to your craftsmanship.
                    </li>
                    <li class="text-dark">
                        Visualize good things in the times of struggle.
                    </li>
                    <li class="text-dark">
                        It is OK to fail. It is not OK to not learn from mistakes. It is better to learn your lesson
                        from others mistake. The best thing you can do is to take a lesson from the past into the future
                    </li>
                    <li>
                        In your life, you will have turn back moment. You can go forward or you can give up. Keep in
                        mind that the guarantee of quitting is that it will never happen. The only way, the possibility,
                        remains if you never give up. No matter what.
                    </li>
                    <li class="text-dark">Set your goal and go after it. You can achieve big adventures goals through
                        1000s little
                        steps using routine (a sequence of actions that you do repeatedly) because excellence comes from
                        repetition. Simply. Get better every day and don't waste your life.
                    </li>
                    <li class="text-dark">
                        Make today better than yesterday.Eliminate things and interactions that made u sad. Remember,
                        This world is heartless to
                        everything.
                    </li>
                    <li>
                        Think about your language and how it affects your focus.
                    </li>
                    <li>
                        When you got problem to tackle use consider using <b>PIOSEE</b> method:<br/>
                        ● <b>P</b> - problem. It requires you to swiftly identify the problem at hand.<br/>
                        ● <b>I</b> - information. Here, you need to gather information about the problem that
                        is
                        occurring.<br/>
                        ● <b>O</b> - options. With the gathered information about the problem, you and your
                        team
                        generate options to solve the problem.<br/>
                        ● <b>S</b> - select. You need to select an option after efficiently evaluating the
                        alternatives.<br/>
                        ● <b>E</b> - execute. Options are worthless without swift and effective execution.<br/>
                        ● <b>E</b> - evaluate. After execution, you and your team evaluate the process, noting
                        places
                        for improvement.<br/>
                    </li>
                    <li>
                        Be humble. Gratitude is really about recognizing goodness outside of ourselves.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- all scripts -->
<script type="text/javascript">displayTitle();</script>

</body>
</html>