{% extends 'foundation.html' %}

{% block content %}

    <div class="row-cols-auto">
    <!-- main part -->
    <div class=" darkness">
        {% if not message.daily[2] %}
            <div class="row col-12 text-center">
                <div class="col-md-10">
                    <h2><span class="dailytitle">Now: </span><span class="blinking">{{ message.daily[0] }}</span></h2><br/>
                </div>
            </div>
            <div class="row col-12 text-center">
                <div class="col-md-10">
                    <h2><span class="dailytitle">Next: </span><span class="next-item">{{ message.daily[1] }}</span></h2><br/>
                </div>
            </div>
        {% else %}
            <div class="row col-12 text-center">
                <div class="col-md-12 text-warning">
                    <b>&#9728; WEEKEND &#9728;</b>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row mb-12 text-center">
        <div class="col-md-12">
            <div class="card-body">
                {{ message.welcome_text }}
            </div>
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">WARNINGS</h4>
            </div>
            <div class="card-body ">
                <ul class="list-unstyled mt-3 mb-4">
                    {% for an_error in message.errors %}
                        <li class="mb-1 text-danger">{{ an_error }}</li>
                    {% endfor %}
                    {% if  message.warnings.denva %}
                        {% for value in message.warnings.denva %}
                            <li class="mb-1 text-warning">{{ value }}</li>
                        {% endfor %}
                    {% else %}
                        <li><span class="bad">No Data for Denva :(</span></li>
                    {% endif %}
                    {% if  message.warnings.enviro %}
                        {% for _, value in message.warnings.enviro.items() %}
                            <li class="mb-1 text-warning">{{ value }}</li>
                        {% endfor %}
                    {% else %}
                        <li><span class="bad">No Data for Denviro :(</span></li>
                    {% endif %}
                    {% for server in message.warnings.server %}
                        <li class="mb-1 text-danger">{{ server }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>

    <div class="row mb-3">
        <!-- SYSTEM STATUS -->
        <div class="col-md-4">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <strong class="d-inline-block text-success">Weather</strong>
                    {% for weather_sentence in message.weather %}
                        <li class="small">{{ weather_sentence }}</li>
                    {% endfor %}
                </ul>
                <ul class="list-unstyled mt-3 mb-4">
                    <strong class="d-inline-block text-success">Transport</strong>
                    {% for line_name in message.transport %}
                        <li class="small">{{ line_name }}</li>
                    {% endfor %}
                </ul>

                <ul class="list-unstyled mt-3 mb-4">
                    <li><strong class="d-inline-block text-success">Server(LP) {3}</strong></li>
                    {% if  message.system.server %}
                        <li class="small"><b>CPU Speed:</b>{{ message.system.server["CPU Speed"] }}</li>
                        <li class="small"><b>RAM Available:</b>{{ message.system.server["Memory Available"] }}</li>
                        <li class="small"><b>Free Space:</b>{{ message.system.server["Free Space"] }}</li>
                        <li class="small"><b>Uptime:</b>{{ message.system.server["Uptime"] }}</li>
                    {% else %}
                        <li><span class="bad">No Server data :(</span></li>
                    {% endif %}
                    <li>_</li>
                    <li><strong class="d-inline-block mb-2 text-success">Denva(Pi4) {1}</strong></li>
                    {% if  message.system.denva and message.system.denva["CPU Temp"] %}
                        <li class="small"><b>CPU Speed : </b>{{ message.system.denva["CPU Speed"] }}</li>
                        <li class="small"><b>CPU Temp : </b>{{ message.system.denva["CPU Temp"].replace('Â','') }}
                        </li>
                        <li class="small"><b>RAM Available : </b>{{ message.system.denva["Memory Available"] }}</li>
                        <li class="small"><b>Free Space : </b>{{ message.system.denva["Free Space"] }}</li>

                        <li class="small"><b>Uptime : </b>{{ message.system.denva["Uptime"] }}</li>
                    {% else %}
                        <li><span class="bad">No Denva data :(</span></li>
                    {% endif %}

                    <li>_</li>
                    <li><strong class="d-inline-block mb-2 text-success">Denvira(Pi3) {2}</strong></li>
                    {% if  message.system.enviro and message.system.enviro["CPU Temp"] %}
                        <li class="small"><b>CPU Speed : </b>{{ message.system.enviro["CPU Speed"] }}</li>
                        <li class="small"><b>CPU Temp : </b>{{ message.system.enviro["CPU Temp"].replace('Â','') }}
                        </li>
                        <li class="small"><b>RAM Available : </b>{{ message.system.enviro["Memory Available"] }}
                        </li>
                        <li class="small"><b>Free Space : </b>{{ message.system.enviro["Free Space"] }}</li>
                        <li class="small"><b>Uptime : </b>{{ message.system.enviro["Uptime"] }}</li>
                    {% else %}
                        <li><span class="bad">No Denvira data :(</span></li>
                    {% endif %}
                    <li>_</li>
                    <li><strong class="d-inline-block mb-2 text-success">Trases {4}</strong></li>
                    {% if  message.trases  and "CPU Temp" in message.system.trases  and message.system.trases["CPU Temp"] %}
                        <li class="small"><b>CPU Speed : </b>{{ message.system.trases["CPU Speed"] }}</li>
                        <li class="small"><b>CPU Temp : </b>{{ message.system.trases["CPU Temp"].replace('Â','') }}
                        </li>
                        <li class="small"><b>RAM Available : </b>{{ message.system.trases["Memory Available"] }}
                        </li>
                        <li class="small"><b>Free Space : </b>{{ message.system.trases["Free Space"] }}</li>
                        <li class="small"><b>Uptime : </b>{{ message.system.trases["Uptime"] }}</li>
                    {% else %}
                        <li><span class="bad">No Trases data :(</span></li>
                    {% endif %}
                    <li>_</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <!-- READINGS -->
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">DENVA</h4>
            </div>
            {% if  message.denva %}
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><strong>temp</strong> : {{ message.denva.temp }}</li>
                    <li><strong>temp (cpu)</strong> : {{ message.denva.cpu_temp }}</li>
                    <li><strong>pressure</strong> : {{ message.denva.pressure }}</li>
                    <li><strong>humidity</strong> : {{ message.denva.humidity }}</li>
                    <li><strong>relative_humidity</strong> : {{ message.denva.relative_humidity }}</li>
                    <li><strong>co2</strong> : {{ message.denva.co2 }}</li>
                    <li><strong>co2_temperature</strong> : {{ message.denva.co2_temperature }}</li>
                    <li><strong>colour</strong> : {{ message.denva.colour }}</li>
                    <li><strong>r</strong> : {{ message.denva.r }}</li>
                    <li><strong>g</strong> : {{ message.denva.g }}</li>
                    <li><strong>b</strong> : {{ message.denva.b }}</li>
                    <li><strong>gas_resistance</strong> : {{ message.denva.gas_resistance }}</li>
                    <li><strong>gps_num_sats</strong> : {{ message.denva.gps_num_sats }}</li>
                    <li><strong>eco2</strong> : {{ message.denva.eco2 }}</li>
                    <li><strong>tvoc</strong> : {{ message.denva.tvoc }}</li>
                </ul>
            </div>
            {% else %}
            <li><span class="bad">No Denva data :(</span></li>
            {% endif %}
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">ENVIRO</h4>
            </div>
            {% if  message.enviro %}
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><strong>temperature</strong> : {{ message.enviro.temperature }}</li>
                    <li><strong>oxidised</strong> : {{ message.enviro.oxidised }}</li>
                    <li><strong>reduced</strong> : {{ message.enviro.reduced }}</li>
                    <li><strong>nh3</strong> : {{ message.enviro.nh3 }}</li>
                    <li><strong>pm1</strong> : {{ message.enviro.pm1 }}</li>
                    <li><strong>pm25</strong> : {{ message.enviro.pm25 }}</li>
                    <li><strong>pm10</strong> : {{ message.enviro.pm10 }}</li>
                </ul>
            </div>
            {% else %}
                <li><span class="bad">No Enviro data :(</span></li>
            {% endif %}
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Trases 4</h4>
            </div>
            {% if  message.trases %}
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="small"><b>session_id : </b>{{ message.trases["session_id"] }}</li>
                    <li class="small"><b>measurement_counter : </b>{{ message.trases["measurement_counter"] }}</li>
                    <li class="small"><b>measurement_time : </b>{{ message.trases["measurement_time"] }}</li>
                    <li class="small"><b>pressure : </b>{{ message.trases["pressure"] }}</li>
                    <li class="small"><b>aps_temperature : </b>{{ message.trases["aps_temperature"] }}</li>
                    <li class="small"><b>bme_temperature : </b>{{ message.trases["bme_temperature"] }}</li>
                    <li class="small"><b>bme_pressure : </b>{{ message.trases["bme_pressure"] }}</li>
                    <li class="small"><b>humidity : </b>{{ message.trases["humidity"] }}</li>
                    <li class="small"><b>gas_resistance : </b>{{ message.trases["gas_resistance"] }}</li>
                    <li class="small"><b>oxidising : </b>{{ message.trases["oxidising"] }}</li>
                    <li class="small"><b>reducing : </b>{{ message.trases["reducing"] }}</li>
                    <li class="small"><b>nh3 : </b>{{ message.trases["nh3"] }}</li>
                    <li class="small"><b>uva : </b>{{ message.trases["uva"] }}</li>
                    <li class="small"><b>uvb : </b>{{ message.trases["uvb"] }}</li>
                    <li class="small"><b>light : </b>{{ message.trases["light"] }}</li>
                    <li class="small"><b>proximity : </b>{{ message.trases["proximity"] }}</li>
                    <li class="small"><b>ax : </b>{{ message.trases["ax"] }}</li>
                    <li class="small"><b>ay : </b>{{ message.trases["ay"] }}</li>
                    <li class="small"><b>az : </b>{{ message.trases["az"] }}</li>
                    <li class="small"><b>gx : </b>{{ message.trases["gx"] }}</li>
                    <li class="small"><b>gy : </b>{{ message.trases["gy"] }}</li>
                    <li class="small"><b>gz : </b>{{ message.trases["gz"] }}</li>
                    <li class="small"><b>mx : </b>{{ message.trases["mx"] }}</li>
                    <li class="small"><b>my : </b>{{ message.trases["my"] }}</li>
                    <li class="small"><b>mz : </b>{{ message.trases["mz"] }}</li>
                </ul>
            {% else %}
                <li><span class="bad">No trases data :(</span></li>
            {% endif %}
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">RADAR</h4>
            </div>
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    {% if '↓' in message.aircraft.detected %}
                        <li><strong>Aircraft</strong> : <span class="bad">{{ message.aircraft.detected }}</span></li>
                    {% elif '↑' in message.aircraft.detected %}
                        <li><strong>Aircraft</strong> : <span class="good">{{ message.aircraft.detected }}</span></li>
                    {% else %}
                        <li><strong>Aircraft</strong> : <span class="info">{{ message.aircraft.detected }}</span></li>
                    {% endif %}

                    <li><b>Fastest Flight</b></li>
                    {% if message.aircraft.detected %}
                        <li>{{ (message.aircraft.stats.fastest.speed * 1.852)| int }} km/h</li>
                    {% else %}
                        <li>0</li>
                    {% endif %}
                    {% if message.aircraft.stats and message.aircraft.stats.fastest %}
                        <li>{{ message.aircraft.stats.fastest.flight  | join(", ") }}</li>
                    {% endif %}
                    {% if message.aircraft.stats and message.aircraft.stats.highest %}
                        <li><b>Highest Flight</b></li>
                        <li>{{ (message.aircraft.stats.highest.altitude / 3.281)|int }} km</li>
                        <li>{{ message.aircraft.stats.highest.flight  | join(", ") }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <p><strong class="d-inline-block mb-2 text-warning">Calendar</strong> <span
                            class="mb-1 text-muted">{{ message.today }}</span>
                    </p>
                    {% for celebration in message.calendar %}
                        <div class="mb-1 text-muted">{{ celebration }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <p><strong class="d-inline-block mb-2 text-dark">Timer</strong></p>
                    {% for key,event in message.events.items() %}
                        <div class="mb-1 text-muted">{{ key }} - {{ event }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-danger">Chinese</strong>
                    <h3 class="mb-0">{{ message.chinese.character }}</h3>
                    <div class="mb-1 text-muted">{{ message.chinese.pinyin }}</div>
                    <p class="mb-auto">{{ message.chinese.english }}</p>
                    <p class="mb-auto">{{ message.chinese.polish }}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <h1>{{ message.chinese.character }}</h1>
                </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">English</strong>
                    <div class="mb-1 text-muted">{{ message.english }}</div>
                </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-white-50">Rules</strong>
                    <div class="mb-1 text-muted">{{ message.rule }}</div>
                </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-info">Irregular verb</strong>
                    <h3 class="mb-0">{{ message.verb.Base }}</h3>
                    <div class="mb-1 text-muted">{{ message.verb.PastSimple }}</div>
                    <p class="mb-auto">{{ message.verb.PastParticiple }}</p>

                    <div class="mb-1 text-muted"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}