<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My bookmarks HQ">
    <meta name="author" content="Dominik Symonowicz">
    <meta http-equiv="refresh" content="30"/>
    <title>Mothership HQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>

    <!--  JavaScripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

</head>

<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:5000/">Dom's Gateway</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="daily" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Daily</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a href="https://www.theguardian.com/uk-news/all" class="dropdown-item"> UK (TheGuardian)</a>
                    <a href="https://www.theguardian.com/uk/london" class="dropdown-item">London (TheGuardian)</a>
                    <a href="https://news.ycombinator.com" class="dropdown-item">IT (Ycombinator)</a>
                    <a href="https://www.gocomics.com/pearlsbeforeswine" class="dropdown-item">Pearls Before Swine</a>
                    <a href="https://railnews.co.uk/news/" class="dropdown-item">Rail News</a>
                    <a href="https://www.tuwroclaw.com/wiadomosci,wiadomosci,wia1-3266.html" class="dropdown-item">Tu
                        Wroclaw</a>
                    <a href="https://www.scmp.com/" class="dropdown-item"> South China Morning Post</a>
                    <a href="https://arstechnica.com/gadgets/" class="dropdown-item">ArsTechnica Tech</a>
                    <a href="https://arstechnica.com/science/" class="dropdown-item">ArsTechnica Science</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="weekly" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Weekly</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a href="https://chinytolubie.pl" class="dropdown-item">Chiny to lubie</a>
                    <a href="https://www.theguardian.com/world/china" class="dropdown-item">TheGuardian (China)</a>
                    <a href="https://joemonster.org/" class="dropdown-item">Joe Monster</a>
                    <a href="https://www.mynewsmag.co.uk/location/rickmansworth/" class="dropdown-item">my news
                        magazine</a>
                    <a href="https://dzone.com/java-jdk-development-tutorials-tools-news" class="dropdown-item">Java
                        DZONE</a>
                    <a href="https://spring.io/blog" class="dropdown-item">Spring Framework Blog</a>
                    <a href="https://www.raspberrypi.org/blog/" class="dropdown-item">Pi blog</a>
                    <a href="https://www.cooltura24.co.uk/wiadomosci" class="dropdown-item">Coolturas</a>
                    <a href="https://goniec.com/wiadomosci/wielka-brytania" class="dropdown-item">Goniec</a>
                    <a href="https://xkcd.com" class="dropdown-item">xkcd</a>
                    <a href="https://www.quickanddirtytips.com/education/grammar" class="dropdown-item">qad tips
                        (grammar)</a>
                    <a href="https://www.quickanddirtytips.com/productivity" class="dropdown-item">qad tips
                        (productivity) </a>
                    <a href="https://www.rynek-kolejowy.pl/?desktop=true" class="dropdown-item">Rynek Kolejowy</a>
                    <a href="https://www.londonreconnections.com/" class="dropdown-item">london reconnections</a>
                    <a href="https://www.ianvisits.co.uk/blog/" class="dropdown-item"> Ian Visits</a>
                    <a href="https://zaufanatrzeciastrona.pl/" class="dropdown-item"> Zaufana 3 strona</a>
                    <a href="https://railway-news.com/" class="dropdown-item">Railway News</a>
                    <a href="https://blog.trello.com/topic/remote-work" class="dropdown-item">Trello's remote work
                        blog</a>
                    <a href="https://www.whatsonweibo.com/" class="dropdown-item">whatsonweibo (test)</a>
                    <a href="https://niebezpiecznik.pl/" class="dropdown-item">niebezpiecznik</a>
                    <a href="https://www.wanderlust.co.uk/" class="dropdown-item">wanderlust</a>
                    <a href="https://www.thesun.co.uk/author/jeremy-clarkson/" class="dropdown-item">Jeremy
                        Clarkson(Sun)</a>
                    <a href="https://www.rynek-lotniczy.pl/" class="dropdown-item">rynek lotniczy</a>
                    <a href="https://www.onlondon.co.uk/" class="dropdown-item">onlondon</a>
                    <a href="https://www.goodnewsnetwork.org/" class="dropdown-item">goodnewsnetwork</a>
                    <a href="https://www.sciencefocus.com/space/" class="dropdown-item">sciencefocus</a>
                    <a href="https://www.theregister.co.uk/software/" class="dropdown-item">TheRegister (Software)</a>
                    <a href="https://www.theregister.co.uk/business/" class="dropdown-item">TheRegister (Business)</a>
                    <a href="https://informationisbeautiful.net/beautifulnews/" class="dropdown-item">information is beautiful</a>
                    <a href="https://wroclife.pl/" class="dropdown-item">WrocLife</a>
                    <a href="https://airquality.uni.wroc.pl/map/@51.1606001,17.0812005,11.54829z#" class="dropdown-item">Wroclaw AirQ</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="weekly" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Monthly</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a href=https://kstm.pl/pl/ " class="dropdown-item">kstm</a>
                    <a href="https://www.kiwico.com/blog/" class="dropdown-item">KiwiCo</a>
                    <a href="https://www.focus.pl/kosmos" class="dropdown-item">Kosmos (Focus)</a>
                    <a href="https://www.tajemniczywroclaw.pl" class="dropdown-item ">Tajemniczy Wrocław</a>
                    <a href="https://uxdesign.cc/" class="dropdown-item">uxdesign.cc</a>
                    <a href="https://transportdesigned.com/" class="dropdown-item">transport designed</a>
                    <a href="https://inventwithpython.com/blog/" class="dropdown-item">invent with python</a>
                    <a href="https://www.grammarly.com/blog/" class="dropdown-item">grammarly</a>
                    <a href="https://martinfowler.com/" class="dropdown-item">martin fowler</a>
                    <a href="https://buffer.com/resources/open/" class="dropdown-item">Buffer blog</a>
                    <a href="https://rail-record.co.uk/" class="dropdown-item">rail-record</a>
                    <a href="https://informatykzakladowy.pl/" class="dropdown-item">informatyk zakladowy</a>
                    <a href="https://czytamyetykiety.pl/blog/" class="dropdown-item">czytamy etykiety</a>
                    <a href="https://flaviocopes.com/ " class="dropdown-item">Flaviocopes</a>
                    <a href="https://hydeparknow.uk/" class="dropdown-item">Hydeparknow (test)</a>
                    <a href="https://www.gov.uk/transport/rail-accidents-and-serious-incidents" class="dropdown-item">RAASI</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="blog" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">My projects</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a href="https://pablo.buffer.com/" class="dropdown-item">Pablo</a>
                    <a href="https://app.grammarly.com/" class="dropdown-item">Grammarly</a>
                    <a href="https://apps.admob.com/?pli=1#home" class="dropdown-item">Admob</a>
                    <a href="https://www.google.com/adsense/app#home" class="dropdown-item">AdSense</a>
                    <a href="https://play.google.com/apps/publish/?dev_acc=05014121812182259281#AppListPlace"
                       class="dropdown-item">Developer Console</a>
                    <a href="https://play.google.com/store/apps/developer?id=Dominik+Symonowicz"
                       class="dropdown-item">Google
                        Play</a>
                    <a href="https://dominiksymonowicz.blogspot.co.uk" class="dropdown-item">Blog Dominik</a>
                    <a href="https://dominiksymonowicz.com" class="dropdown-item">Homepage</a>
                    <a href="https://github.com/pastorcmentarny" class="dropdown-item">GitHub</a>
                    <a href="https://blog.flipperzero.one/" class="dropdown-item">flipperzero (blog)</a>
                    <a href="https://www.google.com/webmasters/tools/home?hl=en" class="dropdown-item">Webmasters
                        Tools</a>
                    <a href="https://buffer.com/app/profile/5a0a01a8dc8ca5a8104ede15/buffer/queue/list"
                       class="dropdown-item">Buffer</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dev" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Dev</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a href="https://www.uuidgenerator.net" class="dropdown-item">UUID GENERATOR</a>
                    <a href="https://www.regexplanet.com/advanced/java/index.html" class="dropdown-item">Regex test</a>
                    <a href="https://westciv.com/tools/gradients/" class="dropdown-item">Gradient tool</a>
                    <a href="https://www.jslint.com" class="dropdown-item">jslint</a>
                    <a href="https://www.colorhexa.com" class="dropdown-item">color hexa</a>
                    <a href="https://json-p.org/validator.html" class="dropdown-item">Json-p Validator</a>
                    <a href="https://jsbin.com/?html,css,js,output" class="dropdown-item">jsbin</a>
                    <a href="https://meyerweb.com/eric/tools/dencoder/" class="dropdown-item">URL decoder/encoder</a>
                    <a href="https://code.stypi.com/" class="dropdown-item">Stypi (Editor)</a>
                    <a href="https://www.json-generator.com" class="dropdown-item">JSON GENERATOR</a>
                    <a href="https://ftfy.now.sh/" class="dropdown-item">Ftfy (Unicode fix)</a>
                    <a href="https://www.goodemailcopy.com" class="dropdown-item">Good Email Copy</a>
                    <a href="https://tinyjpg.com/" class="dropdown-item">TINY JPG</a>
                    <a href="https://www.kaggle.com/datasets/" class="dropdown-item">kaggle datasets</a>
                    <a href="https://sites.google.com/site/ddmwsst/create-your-own-certificate-and-ca"
                       class="dropdown-item">Create
                        own cert. and ca</a>
                    <a href="https://www.freeformatter.com/" class="dropdown-item">free formatter</a>
                    <a href="https://www.xmlvalidation.com/index.php" class="dropdown-item">xml validation</a>
                    <a href="https://crontab.guru/" class="dropdown-item">Crontab</a>
                    <a href="https://whiteboardfox.com/" class="dropdown-item">Whiteboard</a>
                    <a href="http://www.plantuml.com/plantuml/uml/" class="dropdown-item">UML (plantuml)</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="tools" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Tools</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a href="https://www.programmersmusic.com/" class="dropdown-item">programmers music</a>
                    <a href="https://www.gov.uk/find-coronavirus-local-restrictions?postcode=WD3+8QL"
                       class="dropdown-item">Covid restrictions</a>
                    <a href="https://www.bassblog.pro/search/label/atmospheric?max-results=12" class="dropdown-item">bassblog</a>
                    <a href="https://www.caffeineinformer.com/" class="dropdown-item">Caffeine Informer</a>
                    <a href="https://countryside.ambient-mixer.com/japanese-zen-garden" class="dropdown-item">Jap. zen
                        garden</a>
                    <a href="https://geekprank.com/hacker/" class="dropdown-item">hacker prank</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="other" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Other</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a href="https://www.beerintheevening.com" class="dropdown-item">Beer in the Evening</a>
                    <a href="https://www.railwaytouring.net/uk-day-trips/" class="dropdown-item">railway touring</a>
                    <a href="https://theuselessweb.com/" class="dropdown-item">the useless web</a>
                    <a href="https://www.italki.com/notebook/ranking/chinese?days=all"
                       class="dropdown-item">Italki.com</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="weekly" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Denva</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a href="http://192.168.0.200:5000/report/yesterday" class="dropdown-item">Yesterday's Report</a>
                    <a href="http://192.168.0.200:5000/webcam" class="dropdown-item">Webcam</a>
                    <a href="http://192.168.0.200:5000/log/app" class="dropdown-item">Server's log (APP)</a>
                    <a href="http://192.168.0.200:5000/log/ui" class="dropdown-item">Server's log (UI)</a>
                    <a href="http://192.168.0.200:5000/log/hc" class="dropdown-item">Server's log (HC)</a>
                    <a href="http://192.168.0.201:5000/log/app" class="dropdown-item">Denva's log (APP)</a>
                    <a href="http://192.168.0.201:5000/log/ui" class="dropdown-item">Denva's log (UI)</a>
                    <a href="http://192.168.0.201:5000/log/hc" class="dropdown-item">Denva's log (HC)</a>
                    <a href="http://192.168.0.202:5000/log/app" class="dropdown-item">Denviro's log (APP)</a>
                    <a href="http://192.168.0.202:5000/log/ui" class="dropdown-item">Denviro's log (UI)</a>
                    <a href="http://192.168.0.203:5000/log/hc" class="dropdown-item">Denviro's log (HC)</a>
                    <a href="http://192.168.0.203:5000/log/app" class="dropdown-item">Delight's log (APP)</a>
                    <a href="http://192.168.0.203:5000/log/ui" class="dropdown-item">Delight's log (UI)</a>
                    <a href="http://192.168.0.203:5000/log/hc" class="dropdown-item">Delight's log (HC)</a>
                    <a href="{{ message.page_warns_count }}" class="dropdown-item">Warnings count</a>
                    <a href="{{ message.page_warns }}" class="dropdown-item">All Warnings today</a>
                    <a href="{{ message.page_now }}" class="dropdown-item">Page now</a>
                    <a href="{{ message.page_system }}" class="dropdown-item">System</a>
                    <a href="{{ message.page_avg }}" class="dropdown-item">Averages</a>
                    <a href="{{ message.page_records }}" class="dropdown-item">Records</a>
                    <a href="{{ message.page_stats }}" class="dropdown-item">Stats</a>
                    <a href="http://192.168.0.200:5000/tt" class="dropdown-item">Tube delays</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- main part -->
{% if not message.daily[2] %}
    <div class="row mb-12 text-center darkness">
        <div class="col-md-12">
            <h1><span class="dailytitle">Now: </span><span class="blinking">{{ message.daily[0] }}</span></h1><br/>
        </div>
    </div>
    <div class="row mb-12 text-center darkness">
        <div class="col-md-12">
            <h2><span class="dailytitle">Next: </span><span class="next-item">{{ message.daily[1] }}</span></h2><br/>
        </div>
    </div>
{% else %}
    <div class="row mb-12 text-center darkness">
        <div class="col-md-12 text-warning">
            <b>&#9728; WEEKEND &#9728;</b>
        </div>
    </div>
{% endif %}
<div class="row mb-12 text-center">
    <div class="col-md-12">
        <div class="card-body">
            {{ message.welcome_text }}
        </div>
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">WARNINGS</h4>
        </div>
        <div class="card-body ">
            <ul class="list-unstyled mt-3 mb-4">
                {% for an_error in message.errors %}
                    <li class="mb-1 text-danger">{{ an_error }}</li>
                {% endfor %}
                {% if  message.warnings.denva %}
                    {% for _, value in message.warnings.denva.items() %}
                        <li class="mb-1 text-warning">{{ value }}</li>
                    {% endfor %}
                {% else %}
                    <li><span class="bad">No Data for Denva :(</span></li>
                {% endif %}
                {% if  message.warnings.enviro %}
                    {% for _, value in message.warnings.enviro.items() %}
                        <li class="mb-1 text-warning">{{ value }}</li>
                    {% endfor %}
                {% else %}
                    <li><span class="bad">No Data for Denviro :(</span></li>
                {% endif %}
                {% for server in message.warnings.server %}
                    <li class="mb-1 text-danger">{{ server }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div class="row mb-3">
    <!-- SYSTEM STATUS -->
    <div class="col-md-4">
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <strong class="d-inline-block text-success">Weather</strong>
                {% for weather_sentence in message.weather %}
                    <li class="small">{{ weather_sentence }}</li>
                {% endfor %}
            </ul>
            <ul class="list-unstyled mt-3 mb-4">
                <strong class="d-inline-block text-success">Transport</strong>
                {% for line_name in message.transport %}
                    <li class="small">{{ line_name }}</li>
                {% endfor %}            </ul>

            <ul class="list-unstyled mt-3 mb-4">
                <li><strong class="d-inline-block text-success">Server(LP) {3}</strong></li>
                {% if  message.system.server %}
                    <li class="small"><b>CPU Speed:</b>{{ message.system.server["CPU Speed"] }}</li>
                    <li class="small"><b>RAM Available:</b>{{ message.system.server["Memory Available"] }}</li>
                    <li class="small"><b>Disk Free:</b>{{ message.system.server["Disk Free"] }}</li>
                    <li class="small"><b>Uptime:</b>{{ message.system.server["Uptime"] }}</li>
                {% else %}
                    <li><span class="bad">No Server data :(</span></li>
                {% endif %}
                <li>_</li>
                <li><strong class="d-inline-block mb-2 text-success">Denva(Pi4) {1}</strong></li>
                {% if  message.system.denva and message.system.denva["CPU Temp"] %}
                    <li class="small"><b>CPU Speed : </b>{{ message.system.denva["CPU Speed"] }}</li>
                    <li class="small"><b>CPU Temp : </b>{{ message.system.denva["CPU Temp"].replace('Â','') }}
                    </li>
                    <li class="small"><b>RAM Available : </b>{{ message.system.denva["Memory Available"] }}</li>
                    <li class="small"><b>Free Space : </b>{{ message.system.denva["Free Space"] }}</li>
                    <li class="small"><b>Data Free Space : </b>{{ message.system.denva["Data Free Space"] }}
                    </li>
                    <li class="small"><b>Uptime : </b>{{ message.system.denva["Uptime"] }}</li>
                {% else %}
                    <li><span class="bad">No Denva data :(</span></li>
                {% endif %}

                <li>_</li>
                <li><strong class="d-inline-block mb-2 text-success">Denvira(Pi3) {2}</strong></li>
                {% if  message.system.enviro and message.system.enviro["CPU Temp"] %}
                    <li class="small"><b>CPU Speed : </b>{{ message.system.enviro["CPU Speed"] }}</li>
                    <li class="small"><b>CPU Temp : </b>{{ message.system.enviro["CPU Temp"].replace('Â','') }}
                    </li>
                    <li class="small"><b>RAM Available : </b>{{ message.system.enviro["Memory Available"] }}
                    </li>
                    <li class="small"><b>Free Space : </b>{{ message.system.enviro["Free Space"] }}</li>
                    <li class="small"><b>Data Free Space : </b>{{ message.system.enviro["Data Free Space"] }}
                    </li>
                    <li class="small"><b>Uptime : </b>{{ message.system.enviro["Uptime"] }}</li>
                {% else %}
                    <li><span class="bad">No Denvira data :(</span></li>
                {% endif %}
                <li>_</li>
                <li><strong class="d-inline-block mb-2 text-success">Delight(KanoPi3) {4}</strong></li>
                {% if  "CPU Temp" in message.system.delight  and message.system.delight["CPU Temp"] %}
                    <li class="small"><b>CPU Speed : </b>{{ message.system.delight["CPU Speed"] }}</li>
                    <li class="small"><b>CPU Temp : </b>{{ message.system.delight["CPU Temp"].replace('Â','') }}
                    </li>
                    <li class="small"><b>RAM Available : </b>{{ message.system.delight["Memory Available"] }}
                    </li>
                    <li class="small"><b>Free Space : </b>{{ message.system.delight["Free Space"] }}</li>
                    <li class="small"><b>Uptime : </b>{{ message.system.delight["Uptime"] }}</li>
                {% else %}
                    <li><span class="bad">No Delight data :(</span></li>
                {% endif %}
                <li>_</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <!-- READINGS -->
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">DENVA</h4>
        </div>
        <div class="card-body small">
            <ul class="list-unstyled mt-3 mb-4">
                <li><strong>temp</strong> : {{ message.denva.temp }}</li>
                <li><strong>pressure</strong> : {{ message.denva.pressure }}</li>
                <li><strong>humidity</strong> : {{ message.denva.humidity }}</li>
                <li><strong>colour</strong> : {{ message.denva.colour }}</li>
                <li><strong>uva_index</strong> : {{ message.denva.uva_index }}</li>
                <li><strong>uvb_index</strong> : {{ message.denva.uvb_index }}</li>
                <li><strong>motion</strong> : {{ message.denva.motion }}</li>
                <li><strong>ax</strong> : {{ message.denva.ax }}</li>
                <li><strong>ay</strong> : {{ message.denva.ay }}</li>
                <li><strong>az</strong> : {{ message.denva.az }}</li>
                <li><strong>gx</strong> : {{ message.denva.gx }}</li>
                <li><strong>gy</strong> : {{ message.denva.gy }}</li>
                <li><strong>gz</strong> : {{ message.denva.gz }}</li>
                <li><strong>mx</strong> : {{ message.denva.mx }}</li>
                <li><strong>my</strong> : {{ message.denva.my }}</li>
                <li><strong>mz</strong> : {{ message.denva.mz }}</li>
                <li><strong>eco2</strong> : {{ message.denva.eco2 }}</li>
                <li><strong>tvoc</strong> : {{ message.denva.tvoc }}</li>
            </ul>
        </div>
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">ENVIRO</h4>
        </div>
        <div class="card-body small">
            <ul class="list-unstyled mt-3 mb-4">
                <li><strong>temperature</strong> : {{ message.enviro.temperature }}</li>
                <li><strong>oxidised</strong> : {{ message.enviro.oxidised }}</li>
                <li><strong>reduced</strong> : {{ message.enviro.reduced }}</li>
                <li><strong>nh3</strong> : {{ message.enviro.nh3 }}</li>
                <li><strong>pm1</strong> : {{ message.enviro.pm1 }}</li>
                <li><strong>pm25</strong> : {{ message.enviro.pm25 }}</li>
                <li><strong>pm10</strong> : {{ message.enviro.pm10 }}</li>
            </ul>
        </div>
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">RADAR</h4>
        </div>
        <div class="card-body small">
            <ul class="list-unstyled mt-3 mb-4">
                {% if '↓' in message.aircraft.detected %}
                    <li><strong>Aircraft</strong> : <span class="bad">{{ message.aircraft.detected }}</span></li>
                {% elif '↑' in message.aircraft.detected %}
                    <li><strong>Aircraft</strong> : <span class="good">{{ message.aircraft.detected }}</span></li>
                {% else %}
                    <li><strong>Aircraft</strong> : <span class="info">{{ message.aircraft.detected }}</span></li>
                {% endif %}

                <li><b>Fastest Flight</b></li>
                {% if message.aircraft.detected %}
                    <li>{{ (message.aircraft.stats.fastest.speed * 1.852)| int }} km/h</li>
                {% else %}
                    <li>0</li>
                {% endif %}
                {% if message.aircraft.stats and message.aircraft.stats.fastest %}
                    <li>{{ message.aircraft.stats.fastest.flight  | join(", ") }}</li>
                {% endif %}
                {% if message.aircraft.stats and message.aircraft.stats.highest %}
                    <li><b>Highest Flight</b></li>
                    <li>{{ (message.aircraft.stats.highest.altitude / 3.281)|int }} km</li>
                    <li>{{ message.aircraft.stats.highest.flight  | join(", ") }}</li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <p><strong class="d-inline-block mb-2 text-warning">Calendar</strong> <span
                        class="mb-1 text-muted">{{ message.today }}</span>
                </p>
                {% for celebration in message.calendar %}
                    <div class="mb-1 text-muted">{{ celebration }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <p><strong class="d-inline-block mb-2 text-dark">Timer</strong></p>
                {% for key,event in message.events.items() %}
                    <div class="mb-1 text-muted">{{ key }} - {{ event }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-danger">Chinese</strong>
                <h3 class="mb-0">{{ message.chinese.character }}</h3>
                <div class="mb-1 text-muted">{{ message.chinese.pinyin }}</div>
                <p class="mb-auto">{{ message.chinese.english }}</p>
                <p class="mb-auto">{{ message.chinese.polish }}</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <h1>{{ message.chinese.character }}</h1>
            </div>
        </div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">English</strong>
                <div class="mb-1 text-muted">{{ message.english }}</div>
            </div>
        </div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-white-50">Rules</strong>
                <div class="mb-1 text-muted">{{ message.rule }}</div>
            </div>
        </div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-info">Irregular verb</strong>
                <h3 class="mb-0">{{ message.verb.Base }}</h3>
                <div class="mb-1 text-muted">{{ message.verb.PastSimple }}</div>
                <p class="mb-auto">{{ message.verb.PastParticiple }}</p>

                <div class="mb-1 text-muted"></div>
            </div>
        </div>
    </div>
</div>
<!-- all scripts -->
<script type="text/javascript">displayTitle();</script>
</body>
</html>