{% extends 'foundation.html' %}

{% block content %}

    <div class="row-cols-auto">
    <!-- main part -->
    <div class="row mb-12 text-center">
        <div class="col-md-12">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">WARNINGS</h4>
            </div>
            <div class="card-body ">
                <ul class="list-unstyled mt-3 mb-4">
                    {% for an_error in message.errors %}
                        <li class="mb-1 text-danger">{{ an_error }}</li>
                    {% endfor %}
                    {% if  message.warnings.denva %}
                        {% for value in message.warnings.denva %}
                            <li class="mb-1 text-warning">{{ value }}</li>
                        {% endfor %}
                    {% else %}
                        <li><span class="bad">No Data for Denva :(</span></li>
                    {% endif %}
                    {% for server in message.warnings.server %}
                        <li class="mb-1 text-danger">{{ server }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>

    <div class="row mb-3">
        <!-- SYSTEM STATUS -->
        <div class="col-md-4">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <strong class="d-inline-block text-success">Weather</strong>
                    {% for weather_sentence in message.weather %}
                        <li class="small">{{ weather_sentence }}</li>
                    {% endfor %}
                </ul>
                <ul class="list-unstyled mt-3 mb-4">
                    <strong class="d-inline-block text-success">Transport</strong>
                    {% for line_name in message.transport %}
                        <li class="small">{{ line_name }}</li>
                    {% endfor %}
                </ul>

                <ul class="list-unstyled mt-3 mb-4">
                    <li><strong class="d-inline-block text-success">Server(LP) {3}</strong></li>
                    {% if  message.system.server %}
                        <li class="small"><b>CPU Speed:</b>{{ message.system.server["CPU Speed"] }}</li>
                        <li class="small"><b>RAM Available:</b>{{ message.system.server["Memory Available"] }}</li>
                        <li class="small"><b>Free Space:</b>{{ message.system.server["Free Space"] }}</li>
                        <li class="small"><b>Uptime:</b>{{ message.system.server["Uptime"] }}</li>
                    {% else %}
                        <li><span class="bad">No Server data :(</span></li>
                    {% endif %}
                    <li>_</li>
                    <li><strong class="d-inline-block mb-2 text-success">Denva(Pi4) {1}</strong></li>
                    {% if  message.system.denva and message.system.denva["CPU Temp"] %}
                        <li class="small"><b>CPU Speed : </b>{{ message.system.denva["CPU Speed"] }}</li>
                        <li class="small"><b>CPU Temp : </b>{{ message.system.denva["CPU Temp"].replace('Â','') }}
                        </li>
                        <li class="small"><b>RAM Available : </b>{{ message.system.denva["Memory Available"] }}</li>
                        <li class="small"><b>Free Space : </b>{{ message.system.denva["Free Space"] }}</li>

                        <li class="small"><b>Uptime : </b>{{ message.system.denva["Uptime"] }}</li>
                    {% else %}
                        <li><span class="bad">No Denva data :(</span></li>
                    {% endif %}

                    <li>_</li>
                    <li><strong class="d-inline-block mb-2 text-success">Denva Two(Pi4) {2}</strong></li>
                    {% if  message.system.denva2 and message.system.denva2["CPU Temp"] %}
                        <li class="small"><b>CPU Speed : </b>{{ message.system.denva2["CPU Speed"] }}</li>
                        <li class="small"><b>CPU Temp : </b>{{ message.system.denva2["CPU Temp"].replace('Â','') }}
                        </li>
                        <li class="small"><b>RAM Available : </b>{{ message.system.denva2["Memory Available"] }}
                        </li>
                        <li class="small"><b>Free Space : </b>{{ message.system.denva2["Free Space"] }}</li>
                        <li class="small"><b>Uptime : </b>{{ message.system.denva2["Uptime"] }}</li>
                    {% else %}
                        <li><span class="bad">No Denva2 data :(</span></li>
                    {% endif %}
                    <li>_</li>

                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <!-- READINGS -->
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">DENVA ONE</h4>
            </div>
            {% if  message.denva %}
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><strong>temperature</strong> : {{ message.denva.temperature }}</li>
                    <li><strong>temp (cpu)</strong> : {{ message.denva.cpu_temp }}</li>
                    <li><strong>pressure</strong> : {{ message.denva.pressure }}</li>
                    <li><strong>humidity</strong> : {{ message.denva.humidity }}</li>
                    <li><strong>relative_humidity</strong> : {{ message.denva.relative_humidity }}</li>
                    <li><strong>co2</strong> : {{ message.denva.co2 }}</li>
                    <li><strong>co2_temperature</strong> : {{ message.denva.co2_temperature }}</li>
                    <li><strong>colour</strong> : {{ message.denva.colour }}</li>
                    <li><strong>r</strong> : {{ message.denva.r }}</li>
                    <li><strong>g</strong> : {{ message.denva.g }}</li>
                    <li><strong>b</strong> : {{ message.denva.b }}</li>
                    <li><strong>gas_resistance</strong> : {{ message.denva.gas_resistance }}</li>
                    <li><strong>gps_num_sats</strong> : {{ message.denva.gps_num_sats }}</li>
                    <li><strong>eco2</strong> : {{ message.denva.eco2 }}</li>
                    <li><strong>tvoc</strong> : {{ message.denva.tvoc }}</li>
                    <li><strong>uva</strong> : {{ message.denva.uva }}</li>
                    <li><strong>uvb</strong> : {{ message.denva.uvb }}</li>
                    <li><strong>uv index</strong> : {{ message.denva.uv_index }}</li>
                </ul>
            </div>
            {% else %}
            <li><span class="bad">No Denva data :(</span></li>
            {% endif %}
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">DENVA TWO </h4>
            </div>
            {% if  message.denva2 %}
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    <li><strong>counter</strong> : {{ message.denva2.counter }}</li>
                    <li><strong>timestamp</strong> : {{ message.denva2.timestamp }}</li>
                    <li><strong>measurement time</strong> : {{ message.denva2.measurement_time }}</li>
                    <li><strong>temperature</strong> : {{ message.denva2.temperature }}</li>
                    <li><strong>pressure</strong> : {{ message.denva2.pressure }}</li>
                    <li><strong>altitude</strong> : {{ message.denva2.altitude }}</li>
                    <li><strong>red</strong> : {{ message.denva2.red }}</li>
                    <li><strong>orange</strong> : {{ message.denva2.orange }}</li>
                    <li><strong>yellow</strong> : {{ message.denva2.yellow }}</li>
                    <li><strong>green</strong> : {{ message.denva2.green }}</li>
                    <li><strong>blue</strong> : {{ message.denva2.blue }}</li>
                    <li><strong>violet</strong> : {{ message.denva2.violet }}</li>
                    <li><strong>ax</strong> : {{ message.denva2.ax }}</li>
                    <li><strong>ay</strong> : {{ message.denva2.ay }}</li>
                    <li><strong>az</strong> : {{ message.denva2.az }}</li>
                    <li><strong>gx</strong> : {{ message.denva2.gx }}</li>
                    <li><strong>gy</strong> : {{ message.denva2.gy }}</li>
                    <li><strong>gz</strong> : {{ message.denva2.gz }}</li>
                    <li><strong>mx</strong> : {{ message.denva2.mx }}</li>
                    <li><strong>my</strong> : {{ message.denva2.my }}</li>
                    <li><strong>mz</strong> : {{ message.denva2.mz }}</li>
                    <li><strong>num_sats</strong> : {{ message.denva2.num_sats }}</li>
                    <li><strong>latitude</strong> : {{ message.denva2.latitude }}</li>
                    <li><strong>longitude</strong> : {{ message.denva2.longitude }}</li>
                    <li><strong>lat_dir</strong> : {{ message.denva2.lat_dir }}</li>
                    <li><strong>lon_dir</strong> : {{ message.denva2.lon_dir }}</li>
                    <li><strong>geo_sep</strong> : {{ message.denva2.geo_sep }}</li>
                    <li><strong>gps_qual</strong> : {{ message.denva2.gps_qual }}</li>
                    <li><strong>speed_over_ground</strong> : {{ message.denva2.speed_over_ground }}</li>
                    <li><strong>mode_fix_type</strong> : {{ message.denva2.mode_fix_type }}</li>
                    <li><strong>pdop</strong> : {{ message.denva2.pdop }}</li>
                    <li><strong>hdop</strong> : {{ message.denva2.hdop }}</li>
                    <li><strong>vdop</strong> : {{ message.denva2.vdop }}</li>
                </ul>
            </div>
            {% else %}
                <li><span class="bad">No Denva TWO data :(</span></li>
            {% endif %}
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">RADAR</h4>
            </div>
            <div class="card-body small">
                <ul class="list-unstyled mt-3 mb-4">
                    {% if '↓' in message.aircraft.detected %}
                        <li><strong>Aircraft</strong> : <span class="bad">{{ message.aircraft.detected }}</span></li>
                    {% elif '↑' in message.aircraft.detected %}
                        <li><strong>Aircraft</strong> : <span class="good">{{ message.aircraft.detected }}</span></li>
                    {% else %}
                        <li><strong>Aircraft</strong> : <span class="info">{{ message.aircraft.detected }}</span></li>
                    {% endif %}

                    <li><b>Fastest Flight</b></li>
                    {% if message.aircraft.detected %}
                        <li>{{ (message.aircraft.stats.fastest.speed * 1.852)| int }} km/h</li>
                    {% else %}
                        <li>0</li>
                    {% endif %}
                    {% if message.aircraft.stats and message.aircraft.stats.fastest %}
                        <li>{{ message.aircraft.stats.fastest.flight  | join(", ") }}</li>
                    {% endif %}
                    {% if message.aircraft.stats and message.aircraft.stats.highest %}
                        <li><b>Highest Flight</b></li>
                        <li>{{ (message.aircraft.stats.highest.altitude / 3.281)|int }} km</li>
                        <li>{{ message.aircraft.stats.highest.flight  | join(", ") }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <p><strong class="d-inline-block mb-2 text-warning">Calendar</strong> <span
                            class="mb-1 text-muted">{{ message.today }}</span>
                    </p>
                    {% for celebration in message.calendar %}
                        <div class="mb-1 text-muted">{{ celebration }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <p><strong class="d-inline-block mb-2 text-dark">Timer</strong></p>
                    {% for key,event in message.events.items() %}
                        <div class="mb-1 text-muted">{{ key }} - {{ event }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-danger">Chinese</strong>
                    <h3 class="mb-0">{{ message.chinese.character }}</h3>
                    <div class="mb-1 text-muted">{{ message.chinese.pinyin }}</div>
                    <p class="mb-auto">{{ message.chinese.english }}</p>
                    <p class="mb-auto">{{ message.chinese.polish }}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <h1>{{ message.chinese.character }}</h1>
                </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">English</strong>
                    <div class="mb-1 text-muted">{{ message.english }}</div>
                </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-white-50">Rules</strong>
                    <div class="mb-1 text-muted">{{ message.rule }}</div>
                </div>
            </div>
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-info">Irregular verb</strong>
                    <h3 class="mb-0">{{ message.verb.Base }}</h3>
                    <div class="mb-1 text-muted">{{ message.verb.PastSimple }}</div>
                    <p class="mb-auto">{{ message.verb.PastParticiple }}</p>

                    <div class="mb-1 text-muted"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}