span.good {
    background-color: #FfFfFf;
    color: #00EE00;
}

span.warn {
    background-color: #FeFeFe;
    color: #f7a133;
}

span.bad {
    background-color: #fdfdfd;
    color: #CC0000;
}

span.info {
    background-color: #fdfdfd;
    color: #088Fa7;
}

.next-item {
    color: #beee60;
}

.blinking {
    animation: blinkingText 6s infinite;
}

.darkness {
    background-color: #000000;
}

.dailytitle {
    color: #bdbdbd;
}

@keyframes blinkingText {
    0% {
        color: #ffbf00;
        background-color: #000;
    }
    49% {
        color: #e0a800;
        background-color: #000;
    }
    60% {
        color: transparent;
        background-color: #000;
    }
    99% {
        color: transparent;
        background-color: #000;
    }
    100% {
        color: #ffbf00;
        background-color: #000;
    }
}